<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.angrybeavers.material.em" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AngryB.Theme.Light">
        <activity
            android:name=".ui.activities.AccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.AboutActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activities.ActivityTransition"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activities.ActivityTransitionStage"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>